@model IEnumerable<EntityLayer.Concrete.Blog>

@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/Shared/_BlogLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/Theme/web/css/single.css">

</head>
<body>
    @foreach (var x in Model)
    {

        <section class="banner-bottom">
            <!--/blog-->
            <div class="container">
                <div class="row">
                    <!--left-->
                    <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                        <div class="blog-grid-top">
                            <div class="b-grid-top">
                                <div class="blog_info_left_grid">
                                    <a href="single.html">
                                        <img src="@x.BlogImage" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="blog-info-middle">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-calendar-alt"></i> @x.BlogDate.ToShortDateString()
                                            </a>
                                        </li>
                                        <li class="mx-2">
                                            <a href="#">
                                                <i class="far fa-thumbs-up"></i> 0
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="far fa-comment"></i> 0
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <h3>
                                <a href="single.html">@x.BlogTitle</a>
                            </h3>
                            <p>
                                @x.BlogContent
                            </p>
                        </div>

                        <div class="comment-top">
                            @*<partial name="~/Views/Comment/P_BlogComments.cshtml"/>*@
                            @await Component.InvokeAsync("CommentListByBlog",new {id = ViewBag.BlogID})
                        </div>
                        <div class="comment-top">
                            <h4>Yorum Yap</h4>
                            <partial name="~/Views\Comment\P_AddComment.cshtml" />
                        </div>
                    </div>
                    <!--//left-->
                    <!--right-->
                    <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                        <div class="right-blog-info text-left">
                            <div class="tech-btm">
                                <img src="~/Theme/web/images/banner1.jpg" class="img-fluid" alt="">
                            </div>
                            <h4>Bültene Abone Ol!</h4>

                            <partial name="~/Views/NewsLatter/SubscribeMail.cshtml">

                                @await Component.InvokeAsync("authorLastBlog")

                                @await Component.InvokeAsync("CategoryList")

                                <div class="single-gd tech-btm">
                                    <h4>Son Yüklenen Blog</h4>
                                    <div class="blog-grids">
                                        <div class="blog-grid-left">
                                            <a href="single.html">
                                                <img src="~/Theme/web/images/b1.jpg" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-grid-right">

                                            <h5>
                                                <a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
                                            </h5>
                                        </div>
                                        <div class="clearfix"> </div>
                                    </div>
                                </div>
                        </div>

                    </aside>
                    <!--//right-->
                </div>
            </div>
        </section>
    }
</body>

