@*@model EntityLayer.Concrete.NewsLatter
*@


<div class="tech-btm">
    <p>Olup Biteni Kaçırma...</p>
        <form asp-action="SubscribeMail" asp-controller="NewsLatter" method="post">
    <input name="Mail" class="form-control" required="" />
    <br />
    <input type="submit" value="Kaydet">
        </form>
</div>
